.authentication-screen {
  padding: 15% 2% 0px 2%;
  width: 50%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}

.auth-form {
  padding: 5% 0% 0% 0%;
  border-top: solid 1px #6c6f72;
  margin-top: 2%;
}

.auth-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.auth-container {
  max-width: 500px;
  width: 100%;
}
.nav-button {
  width: fit-content;
  color: #ffbb00;
  font-family: Audiowide;
  font-weight: normal;
}

.nav-button:hover {
  cursor: pointer;
}

.form-container {
  border-top: solid 1px #dee2e6;
  margin-top: 2%;
  height: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  max-height: 100%;
}

.input {
  margin-top: 20px;
  height: 35px;
  padding: 0 10px;
  font-size: 17px;
  border: 1px solid #a6a6a6;
}

.button {
  margin-top: 20px;
  height: 35px;
}
.background {
  background-image: url("../../images/crypt.jpg");
  background-size: cover;
  filter: blur(2px);
  height: 105%;
  position: relative;
  width: 105%;
  right: -2.5%;
  left: -2.5%;
  top: -2.5%;
  bottom: -2.5%;
}
