
.toast-container {
    z-index: 9000;
    box-sizing: border-box;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 8px;
    pointer-events: all;
    position: fixed;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
